/*
    MEDIA QUERY MANAGER

    available width ranges (px):
    0-600: phone
    600-900: tab-port
    900-1200: tab-land
    [1200-1800: default (desktop)]
    1800-inf: big-desktop

    breakpoints in em (ref font size is 16):
    phone: 37.5em
    tab-port: 56.25em
    tab-land: 75em
    big-desktop: 112.5em

    ORDER of applying media queries: base, typography > layout (general) > pages (specific page layout) > components
*/
@keyframes moveInFromLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInFromRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInFromTop {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  80% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInFromBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Big Shoulders Text', sans-serif; }

.heading-primary {
  text-transform: uppercase;
  color: #f7f7f7; }
  .heading-primary--main {
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: 1.2rem;
    display: block;
    animation: moveInFromLeft 1s; }
  .heading-primary--sub {
    font-size: 2.6rem;
    letter-spacing: .26rem;
    font-weight: 300;
    display: block;
    animation: moveInFromRight 1s; }

.heading-secondary {
  text-transform: capitalize;
  font-size: 3.5rem;
  color: #207dff;
  font-weight: 300; }

.heading-tertiary {
  text-transform: capitalize;
  font-size: 3rem;
  color: #000;
  font-weight: 300; }

.paragraph {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #f7f7f7;
  text-transform: capitalize;
  font-size: 2rem;
  transition: all .2s;
  padding: 1rem 2rem; }

.btn--green {
  background-color: #a1dd70;
  color: #333 !important; }

.btn--animated {
  animation: moveInFromBottom 1s; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^="col-"] {
    float: left; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2* 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2* (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem) / 4 + 2* 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(32, 125, 255, 0.8), rgba(32, 125, 255, 0.8)), url(../img/hero-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header::after {
    content: "";
    display: table;
    clear: both; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation {
  animation: moveInFromTop 1s; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }
  .navigation__check {
    opacity: 0;
    visibility: hidden; }
  .navigation__nav {
    display: inline-block;
    position: fixed;
    top: 4rem;
    right: 7rem;
    font-size: 1.6rem;
    z-index: 10000;
    transition: all .3s;
    color: #f7f7f7; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    padding: 1rem 0;
    margin: 0 3rem; }
  .navigation__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #f7f7f7;
    opacity: 0;
    transition: all 0.5s; }
  .navigation__link:hover::after, .navigation__link:active::after {
    opacity: 1;
    width: 100%; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    position: relative;
    font-size: 2rem; }
  .navigation__link--active::after {
    opacity: 1;
    width: 100%; }

.section-about {
  background-color: #f6fafd;
  padding: 20rem 0;
  margin-top: -15rem; }
