@keyframes moveInFromLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInFromRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInFromTop {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  80% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveInFromBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Big Shoulders Text', sans-serif; }

.heading-primary {
  text-transform: uppercase;
  color: #f7f7f7; }
  .heading-primary--main {
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: 1.2rem;
    display: block;
    animation: moveInFromLeft 1s; }
  .heading-primary--sub {
    font-size: 2.6rem;
    letter-spacing: .26rem;
    font-weight: 300;
    display: block;
    animation: moveInFromRight 1s; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #f7f7f7;
  text-transform: capitalize;
  font-size: 2rem;
  transition: all .2s; }

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #f7f7f7;
  opacity: 0;
  transition: all 0.9s; }

.btn:hover::after, .btn:active::after {
  opacity: 1;
  width: 100%; }

.btn--animated {
  animation: moveInFromBottom 1s; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/hero-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .header::after {
    content: "";
    display: table;
    clear: both; }
  .header__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation {
  animation: moveInFromTop 1s; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }
  .navigation__check {
    opacity: 0;
    visibility: hidden; }
  .navigation__nav {
    display: inline-block;
    position: fixed;
    top: 4rem;
    right: 7rem;
    font-size: 1.6rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 10000;
    transition: all .3s;
    color: #f7f7f7; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    padding: 1rem 0;
    margin: 0 3rem; }
  .navigation__link::after {
    content: "";
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #f7f7f7;
    opacity: 0;
    transition: all 0.5s; }
  .navigation__link:hover::after, .navigation__link:active::after {
    opacity: 1;
    width: 100%; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    position: relative;
    font-size: 2rem; }
  .navigation__link--active::after {
    opacity: 1;
    width: 100%; }
