* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Big Shoulders Text', sans-serif; }

.heading-primary {
  text-transform: capitalize;
  color: #000; }
  .heading-primary--main {
    font-size: 6rem;
    font-weight: 200;
    display: block; }
  .heading-primary--sub {
    font-size: 2.6rem;
    letter-spacing: .3rem;
    font-weight: 300;
    display: block; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 1.8rem; }

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 2.3rem;
  width: 10%;
  height: 2px;
  background-color: #000;
  opacity: 0;
  transition: all .9s; }

.btn:hover::after {
  transform: scaleX(10);
  transform-origin: left;
  opacity: 1; }

.header {
  height: 100vh; }
  .header::after {
    content: "";
    display: table;
    clear: both; }
  .header__left {
    float: left;
    width: 50%;
    height: 100%;
    position: relative; }
  .header__text-box {
    padding: 3rem;
    position: absolute;
    top: 60%; }
  .header__right {
    float: left;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.3) 0%, rgba(0, 0, 0, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top; }
