@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerBlockElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin linkUnderline($color, $heightOfText, $transitionTime) { // include this on a link or button to make it have a black underline with animations
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: $heightOfText;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $color;
        opacity: 0;
        transition: all $transitionTime;
        
    }

    &:hover,
    &:active  {
        &::after {
            opacity: 1;
            width: 100%;
            
        }
    }
}

/*
    MEDIA QUERY MANAGER

    available width ranges (px):
    0-600: phone
    600-900: tab-port
    900-1200: tab-land
    [1200-1800: default (desktop)]
    1800-inf: big-desktop

    breakpoints in em (ref font size is 16):
    phone: 37.5em
    tab-port: 56.25em
    tab-land: 75em
    big-desktop: 112.5em

    ORDER of applying media queries: base, typography > layout (general) > pages (specific page layout) > components
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }
    
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint == big-desktop {
        @media only screen and (max-width: 112.5em) {
            @content;
        }
    }
}