.btn {
    &,
    &:link,
    &:visited {
        position: relative;
        text-decoration: none;
        display: inline-block;
        color: $color-gray-light-1;
        text-transform: capitalize;
        font-size: 2rem;
        transition: all .2s;
    }

    @include linkUnderline($color-gray-light-1, 2.5rem, .9s);
    
    
    &--animated {
        animation: moveInFromBottom 1s;
    }
}