// the main header of the page

.header {
    height: 100vh;
    @include clearfix;
    background-image: linear-gradient(rgba($color-black, .4), rgba($color-black, .4)), url(../img/hero-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &__text-box { // container for the main headings
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}