.navigation {
    @include clearfix;
    animation: moveInFromTop 1s;
    &__check {  // the check box to evalute the two states of the button
        opacity: 0;
        visibility: hidden;
    }

    &__nav { // the navigation list's container
        display: inline-block;
        position: fixed;
        top: 4rem;
        right: 7rem;
        font-size: $default-font-size;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        z-index: 10000; // second max z index
        transition: all .3s;
        color: $color-gray-light-1;
    }

    &__list {
        list-style: none;
        

    }

    &__item {
        display: inline-block;
        padding: 1rem 0;
        margin: 0 3rem;
    }
    
    &__link {
        @include linkUnderline($color-gray-light-1, 2.5rem, .5s);
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            color: inherit;
            position: relative;
            
            font-size: 2rem;
        }
        
        &--active {

            &::after { // display the underline
                opacity: 1; 
                width: 100%;
            }
        }

        
    }
}